<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <article class = show>
          <h2><%= snowboard.year %> - <%= snowboard.brand %> - <%= snowboard.name %></h2>
          <p><strong>Profile:</strong> - <%= snowboard.profile %> - <%= snowboard.terrain %></p>
          <p><strong>Size:</strong> - <%= snowboard.size %></p>
          <p><strong>Flex:</strong> - <%= snowboard.flex %></p>
          <p><strong>Board Status:</strong> - <%= snowboard.damaged ? "Damaged" : "Not Damaged" %></p>
          <a href="/snowboards/<%= snowboard._id %>/edit"><button>Edit</button></a>
          <form action="/snowboards/<%= snowboard._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
          </form>
          <a href="/snowboards/"><button>Back to Main</button></a>
        </article>
      </div>
    </main>
  </body>
</html>